body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 10px #ccc;
}

input {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 2px;
}

button {
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-size: medium;
}

button:hover {
    background-color: rgb(41, 91, 184);
    transition: background .5s;
}

button::before {
  content: "👉 ";        
}


label {
    font-size: large;
}

.link-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.link-button:hover {
    background-color: rgb(41, 91, 184);
    transition: background .5s;
}
